<!doctype html>
<html>

<head>
</head>

<body>
  <div id='map'></div>
  <form style='padding-left:150px' action='' method='GET' novalidate>
    <input type='text' name='address' size='35' maxlength='50' placeholder='Input address' value="{{options.location}}">
    <button type='submit'>Go</button>&nbsp;
    <input type='checkbox' id='marker_view' name='marker_view' value='per100k' {{options.mark}}>
    <input type='hidden' name='marker_view' value='cases'>
    <label for='100k_view'>per 100,000 people</label>
  </form>
</body>


<footer>
  <!-- Plotly.js -->
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

  <script type='text/javascript'>
    const data = {{data | safe}}
    const layout = {{layout | safe}}
    Plotly.newPlot('map', data, layout, { scrollZoom: false })

  </script>
</footer>

</html>
